@import 'style/base.sass'
  
.works-section
  background: url('../../../assets/works-bg.svg')
  background-size: cover
  margin-bottom: 12rem
  +section-border

.works-container__title
  font-size: 2.6rem
  font-weight: 600
  margin: 1.2rem
  text-align: center
  color: $title-1