// Base Text Color
$white-5: #bebebe
$white-4: #c8c8c8
$white-3: #d2d2d2
$white-2: #dbdbdb
$white-1: #dfdfdf
$white-0: #eaeaea

$black-3: #3b3b3b 
$black-2: #303030 
$black-1: #252525 
$black-0: #1b1b1b 

$title: #0A5BBA
$role: #13b0ec

// Cyan-Blue
$cyan-0: #00C8E7