@import 'style/base.sass'

.skills-section-title
  text-align: center

.skills-grid
  margin: 1rem 2rem

  h3
    color: $black-1
    text-align: center
    font-size: 1.2rem

.technology-list
  display: grid
  grid-template-columns: repeat(6, 1fr)
  margin: 0
  padding: 0
  width: 100%

  .technology__item
    margin: 0.8rem auto
    list-style: none

  .technology__text
    margin: 0
    text-align: center
    font-size: 0.8rem
    color: $title-1
    font-weight: 600

  .technology__img
    height: 40px
    width: 70px 

// Media Queries
@media only screen and (max-width: 1024px)
  .technology-list
    grid-template-columns: repeat(4, 1fr)

@media only screen and (max-width: 850px)
  .technology-list
    grid-template-columns: repeat(2, 1fr)

@media only screen and (max-width: 675px)
  .technology-list
    grid-template-columns: repeat(3, 1fr)